<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Poodle Plus Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://localhost:3000/external/bootstrap.min.css">

  <script src="http://localhost:3000/external/jquery.min.js"></script>
  <script src="http://localhost:3000/external/bootstrap.min.js"></script>
  <script src="http://localhost:3000/external/angular.min.js"></script>
  <script src="http://localhost:3000/external/js/materialize.min.js"></script>
  <link rel="stylesheet" href="http://localhost:3000/external/css/materialize.min.css">

  <style>
  	h1{
  		text-align: left;
      text-shadow: 2px 4px 2px white;
      font-family: Georgia;
      font-style: bold;
      font-size: 70px     ;
  	}
    body{
      background-image: url("http://localhost:3000/external/947334-poodle-wallpaper.jpeg");
      max-width:100%;
      height: 100%;
    }
    textarea:focus{
      border-bottom: 1px solid orange;
      -webkit-box-shadow: 0 1px 0 0 orange;
      -moz-box-shadow: 0 1px 0 0 orange;
      box-shadow: 0 1px 0 0 orange;
    }
    


    div.radi{
      border-radius:5px;
    }
  </style>

  <script>
     var myApp = angular.module('myApp', [])
   
 	 myApp.controller('SignUpController', ['$scope', '$http', function($scope, $http) {
       $scope.signup = function(uEmail, uLname, uFname, uMinit, uPword) {
       	var userInfo = {
			email: uEmail,
			lastname: uLname,
			firstname: uFname,
			middleinit: uMinit,
			password: uPword
		};
		var jsonString = JSON.stringify(userInfo, null, 2);
       	$http.get("http://localhost:3000/signup/" + jsonString)
       	.then(function(response) {
       		Materialize.toast(response.data, 1000);
          function shift(){
              window.location.href = "http://localhost:3000/feeds";
          }
          setTimeout(shift, 400);
       	})
       }
    }])

 	 myApp.controller('SignInController', ['$scope', '$http', function($scope, $http) {
       $scope.signin = function(uEmail, uPword) {
       	var userInfo = {
			email: uEmail,
			password: uPword
		};
		var jsonString = JSON.stringify(userInfo, null, 2);
       	$http.get("http://localhost:3000/signin/" + jsonString)
       	.then(function(response) {
       		if (response.data == false) {
                Materialize.toast("User not found.", 3000);
             }
              else {
                Materialize.toast(response.data, 1000);
                function shift(){
                  window.location.href = "http://localhost:3000/feeds";
                }
                setTimeout(shift, 1000);
              }
   		})
       }
    }])


  </script>
</head>
<!--body class="red accent-4">
	<div class="red accent-4 white-text"><h1> * ~ * ~ Welcome to Poodle Plus!!! ~ * ~ * </h1></div>
	<div class="grey lighten-1">
	<div ng-app="myApp" ng-controller="SignUpController">
		<div class="row">
        <div class="col s12 m6">
          <div class="card red accent-4">
          <h3 class="white-text">Sign Up</h3>
            <div class="card-content white black-text">
            	<div class="input-field row red-accent">
					<label>Email: </label>
					<input type="text" ng-model="email">
				</div>

				<div class="input-field row">
					<label>Last Name: </label>
					<input type="text" ng-model="lname">
				</div>
				<div class="input-field row">
					<label>First Name: </label>
					<input type="text" ng-model="fname">
				</div>
				<div class="input-field row">
					<label>Middle Initial: </label>
					<input type="text" ng-model="minit">
				</div>
				<div class="input-field row">
					<label>Password: </label>
					<input type="password" ng-model="pword">
				</div>
					
            </div>
            <div class="card-action">
              <button ng-click="signup(email,lname,fname,minit,pword)" class="btn amber waves-effect waves-light black-text">Register</button>  
            </div>
          </div>
        </div>
      </div>
	</div>
	<br><br>
	<div ng-app="myApp" ng-controller="SignInController">
		<div class="row">
        <div class="col s12 m6">
          <div class="card red accent-4">
          <h3 class="">Sign In</h3>
            <div class="card-content white black-text">
        		<div class="input-field">
				<label>Email: </label>
				<input type="text" ng-model="email2" placeholder="Enter email">
				</div>
				<div class="input-field">
				<label>Password: </label>
				<input type="password" ng-model="pword2" placeholder="Enter password">
				</div>   	
            </div>
            <div class="card-action">
            	<button ng-click="signin(email2,pword2)" class="btn amber waves-effect waves-light black-text">Sign in</button>  
            </div>
          </div>
        </div>
      </div>
	</div>
	</div>
  </body-->

<body class="deep-purple lighten-5">
        <nav class="red accent-4 darken-3" style="opacity:.9;">
            <div class="container">
                <div class="nav-wrapper">
                    <div class="brand-logo left"><span class="black-text" >poodle</span><span class="white-text">plus</span></a></div>

                    <div class="row hide-on-small-only" ng-app="myApp" ng-controller="SignInController">
                        <form class="right col l6">
                            <div class="row">
                                <div class="input-field col s5 black-text">
                                    <input ng-model="email2" type="text" placeholder="Email" style="padding-left: 0px;" class="black-text">
                                </div>
                                <div class="input-field col s5">
                                    <input ng-model="pword2" type="password" placeholder="Password" style="padding-left: 0px;">
                                </div>
                                <div class="input-field col s2">
                                    <button ng-click="signin(email2,pword2)" class="btn brown white-text waves-effect waves-light">
                                        Login
                                    </button>
                                </div>                               
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col l8 m8 s12">
                    <div class="centerbar">
                        <div class="row">
                            <div id="search-div" class="col s11 radi">
                              <h1 class="red-text text-accent-4">Welcome to Poodle Plus!</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col l4 m4 s12">
                    <div ng-app="myApp" ng-controller="SignUpController" class="row hide-on-small-only red darken-4 radi">
                    <br>
                      <h5 style="margin:0;text-align:center;" class="white-text">Sign Up</h5>
                      <br>
                      <div class="card orange lighten-5">
                        <div class="card-content">
                          <div class="row">
                            <form class="col s12">
                            <div class="row" style="margin-bottom: 0px;">
                              <div class="input-field col s12">
                                <input ng-model="email" type="text" style="margin-bottom: 0px;">
                                <label>Email</label>
                              </div>
                            </div>
                            <div class="row" style="margin-bottom: 0px;">
                              <div class="input-field col s12">
                              <input ng-model="fname" type="password" style="margin-bottom: 0px;">
                              <label>First Name</label>
                            </div>
                          </div>
                          <div class="row" style="margin-bottom: 0px;">
                            <div class="input-field col s12">
                              <input ng-model="pword" type="password" style="margin-bottom: 0px;">
                              <label>Last Name</label>
                            </div>
                          </div>
                          <div class="row" style="margin-bottom: 0px;">
                            <div class="input-field col s12">
                              <input ng-model="minit" type="text" style="margin-bottom: 0px;">
                              <label>Middle Initial</label>
                            </div>
                          </div>
                          <div class="row" style="margin-bottom: 0px;">
                            <div class="input-field col s12">
                              <input ng-model="pword" type="email" style="margin-bottom: 0px;">
                              <label>Password</label>
                            </div>
                          </div>
                          <div class="row" style="margin-bottom: 0px;">
                            <div class="input-field col s4">
                              <button  class="center btn brown waves-effect waves-light" type="submit" ng-click="signup(email,lname,fname,minit,pword)">REGISTER</button>
                            </div>
                        </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <footer class="no-print">
            <div class="footer-copyright">
                <div class="container">
                    <span class="left">@ 2016. CMSC 100 Project, Poodle Plus</span>
                </div>
            </div>
        </footer>

<div class="hiddendiv common"></div>
</body>
</html>