<html ng-app="myApp">
<head>
	<title>Add To Circle</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://localhost:3000/external/bootstrap.min.css">
	<script src="http://localhost:3000/external/jquery.min.js"></script>
	<script src="http://localhost:3000/external/bootstrap.min.js"></script>
	<script src="http://localhost:3000/external/angular.min.js"></script>
	<script>
	var myApp = angular.module('myApp', [])

	myApp.controller('RetrieveController', ['$scope', '$http', function($scope, $http) {
          $http.get('http://localhost:3000/getCircles').then(
          function(response) {
            //First function handles success
              if (response.data == false) {
                alert("Access Denied. Please log in.");
                window.location.href = "http://localhost:3000/";
              }
              else {
              	$scope.circles = response.data;
              }
          },
          function(response) {
            //Second function handles error
            alert('Sorry, Could not find data!')
          }
      )
    }])
	myApp.controller('CircleController', ['$scope', '$http', function($scope, $http) {
        $scope.cname = ''
        $scope.add = function() {
          $http({method: 'GET', url: '/addToCircle/' + $scope.cname})
            .then(function(response) {
              if (response.data == false) {
                  alert("Access Denied. Please log in.");
                  window.location.href = "http://localhost:3000/";   
                }
                else if (response.data == 0) {
                  alert("Please search a user first.");
                  window.location.href = "http://localhost:3000/dummySearch"; 
                }
                else if (response.data == "OK") {
                  alert("User Successfully Added To Circle!");
                }
                else {
                  alert("An error occured.");
                }
          })
        }
         $scope.goToProfile = function() {
            $http.get('http://localhost:3000/goToProfile/').then(
              function(response) {
                if (response.data == false) {
                  alert("An error occured.");
                }
                else {
                  window.location.href = "http://localhost:3000/profile"
                }
              }
            ) 
          }
          $scope.logOut = function() {
            $http.get('http://localhost:3000/logout/').then(
              function(response) {
                if (response.data == false) {
                  alert("An error occured.");
                }
                else {
                  alert("Thank you!");
                  window.location.href = "http://localhost:3000/"
                }
              }
            ) 
          }
          $scope.goToHome = function() {
            window.location.href = "http://localhost:3000/feeds"
          }
          $scope.search = function() {
            window.location.href = "http://localhost:3000/userSearch"
           }
    }])
    </script>
</head>
<body>
	<div ng-app="myApp" ng-controller="CircleController">
      <a style="float:right"><button ng-click="logOut()">Log Out</button></a>
      <a style="float:right"><button ng-click="goToHome()">Home</button></a>
      <a style="float:right"><button ng-click="goToProfile()">My Profile</button></a>
      <a style="float:right"><button ng-click="search()">Search</button></a>
      <label>Enter circle name: </label>
      <input type="text" ng-model="cname">
      <button ng-click="add()">Add To This Circle</button>
	</div>
	<div ng-app="myApp" ng-controller="RetrieveController">
      <table class="table">
      <thead>
        <tr>
          <th><h1>Circles</h1></th>
        </tr>
      </thead>
       <tbody ng-repeat = "x in circles">
        <tr>
          <td><h3>{{x.circlename}}</h3></td>
        </tr>
      </tbody>
      </table>
	 </div>
</body>
</html>