<html ng-app="myApp">
<head>
	<title>Add To Circle</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://localhost:3000/external/bootstrap.min.css">
	<script src="http://localhost:3000/external/jquery.min.js"></script>
	<script src="http://localhost:3000/external/bootstrap.min.js"></script>
	<script src="http://localhost:3000/external/angular.min.js"></script>
  <script src="http://localhost:3000/external/js/materialize.min.js"></script>
  <link rel="stylesheet" href="http://localhost:3000/external/css/materialize.min.css">
  <style>
    a:hover{
      text-decoration: none;
      font-style: bold;
      font-family: serif;
      font-size: 20px;
      color: white;
    }
    a{
      font-size: 25px;
    }
  </style>
	<script>
	var myApp = angular.module('myApp', [])

	myApp.controller('RetrieveController', ['$scope', '$http', function($scope, $http) {
          $http.get('http://localhost:3000/getCircles').then(
          function(response) {
            //First function handles success
              if (response.data == false) {
                alert("Access Denied. Please log in.");
                window.location.href = "http://localhost:3000/";
              }
              else {
              	$scope.circles = response.data;
              }
          },
          function(response) {
            //Second function handles error
            alert('Sorry, Could not find data!')
          }
      )
    }])
	myApp.controller('CircleController', ['$scope', '$http', function($scope, $http) {
        $scope.cname = ''
        $scope.add = function() {
          $http({method: 'GET', url: '/addToCircle/' + $scope.cname})
            .then(function(response) {
              if (response.data == false) {
                  alert("Access Denied. Please log in.");
                  window.location.href = "http://localhost:3000/";   
                }
                else if (response.data == 0) {
                  alert("Please search a user first.");
                  window.location.href = "http://localhost:3000/userSearch"; 
                }
                else if (response.data == "OK") {
                  alert("User Successfully Added To Circle!");
                  window.location.href = "http://localhost:3000/profile/viewCircles"
                }
                else {
                  alert("An error occured.");
                }
          })
        }
         $scope.goToProfile = function() {
            $http.get('http://localhost:3000/goToProfile/').then(
              function(response) {
                if (response.data == false) {
                  alert("An error occured.");
                }
                else {
                  window.location.href = "http://localhost:3000/profile"
                }
              }
            ) 
          }
          $scope.logOut = function() {
            $http.get('http://localhost:3000/logout/').then(
              function(response) {
                if (response.data == false) {
                  alert("An error occured.");
                }
                else {
                  alert("Thank you!");
                  window.location.href = "http://localhost:3000/"
                }
              }
            ) 
          }
          $scope.goToHome = function() {
            window.location.href = "http://localhost:3000/feeds"
          }
          $scope.search = function() {
            window.location.href = "http://localhost:3000/userSearch"
           }
    }])
    </script>
</head>
<body>
  <nav class="red accent-4 darken-3" style="opacity:.9;">
            <div class="container">
                <div class="nav-wrapper">
                    <div class="brand-logo left"><span class="black-text" >poodle</span><span class="white-text">plus</span></a></div>

                    <div class="row hide-on-small-only" ng-app="myApp" ng-controller="CircleController">
                        <form class="right col l6">
                            <div class="row">
                                <ul class="nav-f">
                                <li><a href="http://localhost:3000/feeds">Home</a></li>
                                <li><a ng-click="goToProfile()">Profile</a></li>
                                <li><a href="http://localhost:3000/userSearch">Search</a></li>
                                <li><a ng-click="logOut()">Sign Out</a></li>
                                </ul>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </nav>
        <div class="center container" ng-app="myApp" ng-controller="CircleController">
            <div class="input-field col s10">
              <label>Enter circle name: </label>
              <input type="text" ng-model="cname">
            </div>
            <button ng-click="add()" class="btn waves-effect tooltipped waves-light" data-delay="50" data-tooltip="Your friend will be added to this Circle!">Add To Circle</button>      
        </div>
        <br>
      	<div class="container" ng-app="myApp" ng-controller="RetrieveController">
            <table class="striped bordered">
            <thead>
              <tr>
                <th>Circles</th>
                <th>Members</th>
              </tr>
            </thead>
             <tbody ng-repeat = "x in circles">
              <tr>
                <td>{{x.circlename}}</td>
                <td>{{x.numOfMembers}}</td>
              </tr>
            </tbody>
            </table>
      	 </div>
</body>
</html>