<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Home</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://localhost:3000/external/bootstrap.min.css">
		<script src="http://localhost:3000/external/jquery.min.js"></script>
		<script src="http://localhost:3000/external/bootstrap.min.js"></script>
		<script src="http://localhost:3000/external/angular.min.js"></script>
		<script>
			var myApp = angular.module('myApp', [])
			myApp.controller('PostController', ['$scope', '$http', function($scope, $http) {
	          $http.get('http://localhost:3000/getCirclePosts').then(
	          function(response) {
	            //First function handles success
	              if (response.data == false) {
	                alert("Access Denied. Please log in");
	                window.location.href = "http://localhost:3000/";
	              }
	              else {
	                $scope.posts = response.data;
	              }
	              $scope.showComments = function(postID){
		            var posts = {
		              postid: postID
		          	}
		          	var jsonString = JSON.stringify(posts, null, 2);
		          	$http.get('http://localhost:3000/loadComments/'+jsonString).then(
		          		function(response) {
		          			if (response.data == false) {
			                	alert("No comments.");
			                	$scope.comments = null;
			              	}
			              	else {
			              		$scope.comments = response.data;
			              	}
		          		}
		          	)
		          }
		          $scope.post = function(stat) {
		          	var ownPost = {
		          		content: stat
		          	}
		          	var jsonString = JSON.stringify(ownPost, null, 2);
		          	$http.get('http://localhost:3000/feeds/post/'+jsonString).then(
		          		function(response) {
		          			if (response.data == false) {
		          				alert("An error occured.");
		          			}
		          			else {
		          				alert("Successfully posted!");
		          				window.location.href = "http://localhost:3000/feeds"
		          			}
		          		}
		          	)
		          }
		          $scope.like = function(postID) {
		          	var likeInfo = {
		          		postid: postID
		          	}
		          	var jsonString = JSON.stringify(likeInfo, null, 2);
		          	$http.get('http://localhost:3000/like/'+jsonString).then(
		          		function(response) {
		          			if (response.data == false) {
		          				alert("An error occured.");
		          			}
		          			else {
		          				window.location.href = "http://localhost:3000/feeds"
		          			}
		          		}
		          	)
		          }
		          $scope.addComment = function(postID, comment) {
		          	var ownComment = {
		          		postid: postID,
		          		content: comment
		          	}
		          	var jsonString = JSON.stringify(ownComment, null, 2);
		          	$http.get('http://localhost:3000/addComment/'+jsonString).then(
		          		function(response) {
		          			if (response.data == false) {
		          				alert("An error occured.");
		          			}
		          			else {
		          				alert("Successfully posted!");
		          				window.location.href = "http://localhost:3000/feeds"
		          			}
		          		}
		          	)
		          }
		          $scope.goToProfile = function() {
		          	$http.get('http://localhost:3000/goToProfile/').then(
		          		function(response) {
		          			if (response.data == false) {
		          				alert("An error occured.");
		          			}
		          			else {
		          				window.location.href = "http://localhost:3000/profile"
		          			}
		          		}
		          	)	
		          }
		          $scope.logOut = function() {
		          	$http.get('http://localhost:3000/logout/').then(
		          		function(response) {
		          			if (response.data == false) {
		          				alert("An error occured.");
		          			}
		          			else {
		          				alert("Thank you!");
		          				window.location.href = "http://localhost:3000/"
		          			}
		          		}
		          	)	
		         }
		         $scope.search = function() {
		         	window.location.href = "http://localhost:3000/userSearch"
		         }
	          	},
	          function(response) {
	            //Second function handles error
	            alert('Sorry, Could not find data!')
	          }
	      	)
	   		 }])
		</script>
	</head>

<body ng-app="myApp">
	<h1>HOME</h1>
   <div ng-app="myApp" ng-controller="PostController">
   		<a style="float:right"><button ng-click="logOut()">Log Out</button></a>
   		<a style="float:right"><button ng-click="goToProfile()">My Profile</button></a>
   		<a style="float:right"><button ng-click="search()">Search</button></a>
   		<input type="text" ng-model="status" placeholder="What's new with you?"><br>
		<button ng-click="post(status)">Post</button>
      <table class="table">
       <tbody ng-repeat = "x in posts">
        <tr>
          <td><h3>{{x.content}}</h3></td>
          <td><h6>{{x.postdate | date}}</h6></td>
          <td><h6>{{x.authorfname}} {{x.authorminit}} {{x.authorlname}}</h6></td>
          <td><h6>Likes: {{x.likes}}</h6></td>
          <td><button ng-click="like(x.postid)" class="btn btn-default">+1</button></td>
          <td><input type="text" ng-model="comm" placeholder="Add a comment"><button ng-click="addComment(x.postid, comm)">Comment</button></td>
          <td><button ng-click="showComments(x.postid)" class="btn btn-default">Show Comments</button></td>
        </tr>
      </tbody>
      </table>
      <label><h2>Comments</h2></label>
      <div ng-repeat="y in comments">
      	 <p>{{y.postdate | date}} by {{y.commenterfname}} {{y.commenterlname}}</p>
	      <p>{{y.content}}</p>
	      <br>
      </div>
    </div>
</body>
</html>